[submodule "platform/oak"]
	path = platform/oak
	url = git@github.com:tinfoilsh/oak.git
	branch = jules/vmpck0
[submodule "system/cvmimage"]
	path = system/cvmimage
	url = git@github.com:tinfoilsh/cvmimage.git
	branch = jules/stage0
[submodule "application/pri-build-action"]
	path = application/pri-build-action
	url = git@github.com:tinfoilsh/pri-build-action.git
	branch = jules/stage0
